html{                                                               /* s'applique sur tous les élements dans la balise html */
  margin: 0;                                                        /* défini un margin à 0 sur tous les côtés */
  padding: 0;                                                       /* défini un padding à 0 sur tous les côtés */
  width: 100%;                                                      /* défini la largeur à 100% du bloc parent */
  overflow-x: hidden;                                               /* cache le scroll horizontal */
  color: #FF5555;                                                 /* défini la couleur de la font */
  background-color:rgb(23,40,61);                                 /* défini ma couleur de fond */
}
body{                                                               /* s'applique sur tous les élements dans la balise body */
  background-color: white;                                        /* défini la couleur de fond */
  color: #FF5555;                                                 /* défini la couleur de la font */
  max-width: 90%;                                                   /* défini la largeur maximum de mon body a 90% de son parent */
  margin: 0;
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon body centré avec la même distance entre le bord de la page et le bord du du body */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon body centré avec la même distance entre le bord de la page et le bord du du body */
  padding: 0;                                                       /* défini un padding à 0 sur tous les côtés */
  height: 100%;                                                     /* défini la hauteur de mon body à 100% du bloc parent */
  font-family: 'Oxanium', 'Spartan', 'Oswald';                      /* je choisi 3 font différentes au cas où le navigateur ne reconnaisse pas la première etc */
}
header{                                                             /* s'applique sur tous les élements dans la balise header */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
  height: auto;                                                     /* défini une hauteur automatique selon le contenu et la hauteur du bloc parent */
  width: 100%;                                                      /* défini la largeur à 100% du bloc parent */
  padding-top: 1%;                                                  /* défini un padding sur le haut du header de 1% */
  background-color:  rgb(23,40,61);                               /* défini ma couleur de fond */
}
#logo{                                                              /* s'applique sur mon élement qui possède l'id "logo" */
  width: 200px;                                                     /* défini une largeur de 200 pixels */
  margin-bottom: 0;                                                 /* défini un margin sur le bas de l'élement à 0 */
  padding-left: 2%;                                                 /* défini un padding sur le côté gauche de l'élement à 2% */
}
#Barnav{                                                            /* s'applique sur mon élement qui possède l'id "Barnav" */
  background-color: #FF5555;                                      /* défini la couleur de fond */
}
#Nav{                                                               /* s'applique sur mon élement qui possège l'id "Nav" */
  list-style-type: none;                                            /* retire les puces des listes */
  text-decoration: none;                                            /* retire les décorations des ancres */
  display:flex;                                                     /* affiche mes élements sous forme de boites flexibles */
  justify-content: space-around;                                    /* espace mes élements de manière équitable par rapport au bord de la page */
  padding-top: 10px;                                                /* défini un padding en haut de l'élement de 10 pixels */
  padding-bottom: 10px;                                             /* défini un padding en bas de l'élement de 10 pixels */
  margin-top: 0;                                                    /* défini un margin en haut de l'élement à 0 */
  max-width: 100%;                                                  /* défini la largeur maximum à 100% du bloc parent */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-bottom: 0;                                                 /* défini un margin en bas de l'élement à 0 */
}
.recalcul{
  background-color: #FF5555;                                      /* défini la couleur de fond */
  color:  rgb(23,40,61);
  border: 2px solid rgb(23,40,61);
  font-family: 'Oxanium', 'Spartan', 'Oswald';                      /* je choisi 3 font différentes au cas où le navigateur ne reconnaisse pas la première etc */
  font-size: 20px;
  float: right;
  margin-left: 20px;
}
.recalcul:hover{
  color: #FF5555;
  background-color:  rgb(23,40,61);
  border: 2px solid #FF5555;
}
li{                                                                 /* s'applique à tous les li */
  list-style-type: none;                                            /* retire les puces des listes */
  text-decoration: none;                                            /* retire les décorations des ancres */
}
.MyBurger{                                                          /* s'applique à mes élements qui possèdent la classe "MyBurger" */
  visibility: hidden;                                               /* cache sa visibilité */
  display: none;                                                    /* cache cet élement */
}  
.AllNav{                                                            /* s'applique à mes élements qui possèdent la classe "AllNav" */
  text-decoration: none;
  color: rgb(23,40,61);                                           /* défini la couleur de la font */
  font-family: 'Oxanium', 'Spartan', 'Oswald';                      /* je choisi 3 font différentes au cas où le navigateur ne reconnaisse pas la première etc */
  font-size: 22px;                                                  /* défini la taille de la font à 22 pixels */
}
.AllNav:hover{                                                      /* s'applique lorsque l'utilisateur place son curseur sur un élement possédant la classe "AllNav" */
  background-color: rgb(23,40,61);                                /* défini la couleur de fond */
  padding-top: 10px;                                                /* défini un padding en haut de l'élement de 10 pixels */
  padding-bottom: 10px;                                             /* défini un padding en bas de l'élement de 10 pixels */
  color: #FF5555;                                                 /* défini la couleur de la font */
}
.container{                                                         /* s'applique sur les élements possédant la classe "container" */
  max-width: 75%;                                                   /* défini la largeur maximum à 75 % */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
}
.mySlides{                                                          /* s'applique sur les élements possédant la classe "mySlides" */
  display: none;                                                    /* cache cet élement */
}
.imgslide{                                                          /* s'applique sur les élements possédant la classe "imgslide" */
  vertical-align: middle;                                           /* aligne le milieu de l'élément avec la hauteur donnée par la ligne de base de l'élément parent à laquelle on ajoute la moitié de sa hauteur */
}
.slideshow-container {                                              /* s'applique sur mes élements de classe "slideshow-container" */
  max-width: 1500px;                                                /* défini la largeur maximum à 1500 pixels */
  position: relative;                                               /* place l'élement dans une position relative défini par un axe vertical et horizontal */
  margin: auto;                                                     /* défini tous les margin automatiquement */
}
.numbertext {                                                       /* s'applique sur les élements possédant la classe "numbertext" */
  color: #FF5555;                                                 /* défini la couleur de la font */
  font-size: 12px;                                                  /* défini la taille de la font */
  padding: 8px 12px;                                                /* défini un padding de 8 pixels en vertical et 12 pixels en horizontal */
  position: absolute;                                               /* retire l'élement du flux normal et aucun espace n'est crée pour l'élement sur la page car il est positionné par rapport a son ancêtre le plus proche */
}
.fade {                                                             /* s'applique aux élements possédant la classe "fade" */
  -webkit-animation-name: fade;                                     /* défini l'animation avec le nom fade */
  -webkit-animation-duration: 1.5s;                                 /* défini la durée de l'animation à 1.5s */
  animation-name: fade;                                             /* défini l'animation avec le nom fade */
  animation-duration: 1.5s;                                         /* défini la durée de l'animation à 1.5s */
}
@-webkit-keyframes fade {                                           /* appel de l'animation */
  from {opacity: .4}                                                /* passe d'une opacité de 0.4 */
  to {opacity: 1}                                                   /* à une opacité de 1 */
}
@keyframes fade {                                                   /* appel de l'animation */
  from {opacity: .4}                                                /* passe d'une opacité de 0.4 */
  to {opacity: 1}                                                   /* à une opacité de 1 */
}
.Global{                                                            /* s'applique aux élements possédant la classe "Global" */
  max-width: 75%;                                                   /* défini la largeur maximum à 75% */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  padding-top: 2em;                                                 /* défini un padding en haut de 2em */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
  justify-content: center;                                          /* centre mes élements à partir du centre */
  padding-bottom: 2%;                                               /* défini un padding en bas de 2% */
}
#calories{                                                          /* s'applique à mon élement possédant l'id "calories" */
  width: 100%;                                                      /* défini la largeur à 100% */
  max-width: 790px;                                                 /* défini la largeur maximum à 790 pixels */
  height: auto;                                                     /* défini la hauteur automatiquement */
  display: block;                                                   /* affiche mes élements en bloc */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
} 
#Barrenoire{                                                        /* s'applique à mon élement possédant l'id "Barrenoire" */
  width: 100%;                                                      /* défini la largeur à 100% */
  background-color: rgb(23,40,61);                                /* défini la couleur de fond */
  color: #FF5555;                                                 /* défini la couleur de la font */
  font-size: 56px;                                                  /* défini la taille de la font */
  text-align: center;                                               /* aligne mon texte */
  padding-top: 10px;                                                /* défini un padding en haut de 10 pixels */
}
#TexteRyu{                                                          /* s'applique a mon élement possédant l'id "TexteRyu" */
  width: 50%;                                                       /* défini la largeur à 50% */
  max-width: 790px;                                                 /* défini la largeur maximum à 790 pixels */
  height: auto;                                                     /* défini la hauteur automatiquement */
  display: block;                                                   /* affiche mes élements en bloc */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
}
.imgp{                                                              /* s'applique aux élements possédant la classe "imgp" */
  height: 30%;                                                      /* défini une hauteur de 30% */
  width: 30%;                                                       /* défini une largeur de 30% */
  min-width: 80px;                                                  /* défini une largeur minimum de 80 pixels */
}
.footercat{                                                         /* s'applique aux élements possédant la classe "footercat" */
  color: rgb(23,40,61);                                           /* défini la couleur de la font */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
}
footer{                                                             /* s'applique à mon footer */
  background-color: rgb(23,40,61);                                /* défini la couleur de fond */
  text-align: center;                                               /* aligne mon texte */
  padding: 0; 
  position: relative; 
  top: 100%;                                                   /* défini le padding de tous les côtés à 0 */
}
.FuckingCenter{                                                     /* s'applique aux élements possédant la classe "FuckingCenter" */                                            
  width: 100%;                                                      /* défini la largeur à 100% */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
  justify-content: space-around;                                    /* espace mes élements de manière équitable par rapport au bord de la page */
}
.CG{                                                                /* s'applique aux élements possédant la classe "CG" */
  padding-left: 0;                                                  /* défini un padding à gauche à 0 */
}
h3{                                                                 /* s'applique à mes h3 */
  text-decoration: underline;                                       /* sous ligne mes élements */
}
a:hover{                                                            /* s'applique lorsque l'utilisateur place son curseur sur une ancre */
  color: #FF5555;                                                 /* défini la couleur de la font */
}
#Shakerfooter{                                                      /* s'applique à l'élement possédant l'id "Shakerfooter" */
  width: 150px;                                                     /* défini la largeur à 150 pixels */
}
.AllFooter{                                                         /* s'applique aux élements possédant la classe "AllFooter" */
  text-decoration: none;                                            /* retire la décoration des ancres */
  color: white;                                                   /* défini la couleur de la font */
}
#Copyright{                                                         /* s'applique à l'élement possédant l'id "Copyright" */
  background-color: rgb(23,40,61);                                /* défini la couleur de fond */
  padding-top: 5%;                                                  /* défini le padding du haut à 5% */
  text-align: center;                                               /* aligne mon texte */
}
#imgQSN{                                                            /* s'applique à l'élement possédant l'id "imgQSN" */
  width: 100%;                                                      /* défini la largeur à 100% */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
  justify-content: center;                                          /* centre mes élements à partir du centre */ 
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
}
#logoQSN{                                                           /* s'applique à l'élement possédant l'id "logoQSN" */
  width: 100%;                                                      /* défini la largeur à 100% */
  max-width: 195px;                                                 /* défini la largeur maximum à 195 pixels */
}
#QSN{                                                               /* s'applique à l'élement possédant l'id "QSN" */
  justify-content: center;                                          /* centre mes élements à partir du centre */
  width: 100%;                                                      /* défini la largeur à 100% */
  height: auto;                                                     /* défini la hauteur automatiquement */
  text-align: center;                                               /* aligne mon texte */
}
#potsQSN{                                                           /* s'applique à l'élement possédant l'id "potsQSN" */
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  width: 100%;                                                      /* défini la largeur à 100% */
  max-width: 790px;                                                 /* défini la largeur maximum à 790 pixels */
}
#Why, #EnergyPres{                                                  /* s'applique à l'élement possédant l'id "Why", ainsi qu'à l'élement possédant l'id "EnergyPres" */
  text-align: center;                                               /* aligne mon texte */
}
.Lcontact{                                                          /* s'applique aux élements possédant la classe "Lcontact" */
  height: 770px;                                                    /* défini la hauteur à 770 pixels */
  background-size: 60%;                                             /* défini la taille du fond à 60% */
  background-repeat: no-repeat;                                     /* évite que le fond ne soit multiplié pour remplir entierement la page */
  background-image: url(../images/backgro.png);                     /* chemin vers l'image de fond */
  background-color:rgb(23,40,61);                                 /* défini la couleur du fond */
}
.Conta{                                                             /* s'applique à l'élement possédant l'id "Conta" */
  background-color:white;                                         /* défini la couleur du fond */
  border-radius: 1em ;                                              /* défini une bordure arrondie de 1em */
  max-width: 400px;                                                 /* défini la largeur maximum à 400 pixels */
  padding: 3px;                                                     /* défini un padding sur tous les cotés de 3 pixels */
  float: right;                                                     /* place mon élement à droite */
  margin-top: 15%;                                                  /* défini un margin en haut de 15% */
  margin-right: 15%;                                                /* défini un margin à droite de 15% */
}
.week{                                                              /* s'applique aux élements possédant la classe "week" */
  font-size: 14px;                                                  /* défini la taille de la font */
}
#Pan{                                                               /* s'applique à l'élement possédant l'id "Pan" */
display: flex;                                                      /* affiche mes élements sous forme de boites flexibles */
 }
.Panier{                                                            /* s'applique aux élements possédant la classe "Panier" */
display: flex;                                                      /* affiche mes élements sous forme de boites flexibles */
position: absolute;                                                 /* retire l'élement du flux normal et aucun espace n'est crée pour l'élement sur la page car il est positionné par rapport a son ancêtre le plus proche */
top: 8px;                                                          /* place l'élement à 8 pixels du haut de la page */
right: 80px;                                                        /* place l'élement à 16 pixels de la droite de la page */
}
#Monnaie{                                                           /* s'applique à l'élement possédant l'id "Monnaie" */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
}
.Total{                                                             /* s'applique aux élements possédant la classe "Total" */
  padding-left: 10px;                                               /* défini un padding sur la gauche de 10 pixels */
}
#Tori{                                                              /* s'applique à l'élement possédant l'id "Tori" */
  width: 50%;                                                       /* défini une largeur de 30% */
  min-width: 80px; 
}
.contienlo{                                                         /* s'applique aux élements possédant la classe "contienlo" */
  text-align: center;
  width: 33%;
}
.Mini{
  width: 30px;
  height: 30px;
}
h1{
text-align: center;
margin: 0;
}
#tampon{
  text-align: center;
}


.wrap{
  display: flex;
  width: 100%;
}

table{
  /* justify-content: space-between; */
  width: 100%;
}

table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
} 

th, tr {
  text-align: center;
}

.imgg {

  height: 100px;
  width: 125px ;
}

.dels{
  height: 50px;
  width: 50px ;
}

#arigato{
display: flex;
justify-content: flex-end;
}



.Mespots{
  width: 80%;
  margin-left: auto;                                                /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  margin-right: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  padding: 2em;                                                 /* défini un padding en haut de 2em */
  display: flex;                                                    /* affiche mes élements sous forme de boites flexibles */
  justify-content: space-around;                                          /* centre mes élements à partir du centre */ 
  flex-wrap: wrap;
}

.poto{                                                          /* s'applique aux élements possédant la classe "Lcontact" */
    height: 770px;                                                    /* défini la hauteur à 770 pixels */
    background-size: 60%;                                             /* défini la taille du fond à 60% */
    background-repeat: no-repeat;                                     /* évite que le fond ne soit multiplié pour remplir entierement la page */
    background-color:rgb(23,40,61);                                 /* défini la couleur du fond */
}

#Evangelion{
  background-image: url(../images/backgro1.png);                     /* chemin vers l'image de fond */
}

#Grimmjoy
{
  background-image: url(../images/backgro2.png);                     /* chemin vers l'image de fond */
}


.Ryup{
  width: 30%;
  min-width: 80px;
  max-width: 473px;
  padding-left: 10%;
  padding-top: 10%;
}

.nbpages
{
width: 100%;
height: 20px;
background-color:rgb(23,40,61); 
text-align: center;
}

.pages{
  color: #FF5555;
}




@media screen and (max-width: 700px) {                              /* media queries pour les écrans allant jusqu'à 700pixels */
  #logo{                                                            /* s'applique sur mon élement qui possède l'id "logo" */
    width: 50px;                                                    /* défini la largeur à 50 pixels */
    display: block;                                                 /* affiche mes élements en bloc */
    margin-left: auto;                                              /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    margin-right: auto;                                             /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
  }
  #Barnav{                                                          /* s'applique à l'élement possédant l'id "Barnav" */
    display: none;                                                  /* cache cet élement */
    visibility: hidden;                                             /* cache sa visibilité */
  }
  #Nav{                                                             /* s'applique à l'élement possédant l'id "Nav" */
    list-style-type: none;                                          /* retire les puces des lites */
    text-decoration: none;                                          /* retire les décorations des ancres */
    display:initial;                                                /* rétabli l'affichage par défaut */
    justify-content: space-around;                                  /* espace mes élements de manière équitable par rapport au bord de la page */
    padding-top: 10px;                                              /* défini un padding en haut de 10 pixels */
    padding-bottom: 10px;                                           /* défini un padding en bas de 10 pixels */
    max-width: 100%;                                                /* défini la largeur maximum à 100% */
    margin-left: auto;                                              /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    margin-right: auto;                                             /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
}
.AllNav{                                                            /* s'applique aux élements possédant la classe "AllNav" */
  color: #FF5555;                                                 /* défini la couleur de la font */
  font-size: 16px;                                                  /* défini la taille de la font */
}
a{                                                                  /* s'applique aux ancres */
  font-size: 16px;                                                  /* défini la taille de la font */
  color: #FF5555;                                                 /* défini la couleur de la font */
}
  .MyBurger {                                                       /* s'applique aux élements possédant la classe "MyBurger" */
    position: fixed;                                                /* l'élement est positionné en superposition de manière fixe à l'écran peu importe où on se trouve sur la page */
    width: 375px;                                                   /* défini la largeur à 375 pixels */
    margin: auto;                                                   /* défini le margin de tous les cotés automatiquement */
    visibility: visible;                                            /* affiche l'élement */
    z-index: 1;                                                     /* défini la position dans les couches d'affichage */
    display: block;                                                 /* affiche mes élements en bloc */
  }
  .mobile-menu {                                                    /* s'applique aux élements possédant la classe "mobile-menu" */
    position: absolute;                                             /* retire l'élement du flux normal et aucun espace n'est crée pour l'élement sur la page car il est positionné par rapport a son ancêtre le plus proche */ 
    left: 0;                                                        /* place l'élement à 0 pixels à gauche de la page */
    top: 0;                                                         /* place l'élement à 0 pixels en haut de la page */
    width: 85%;                                                     /* défini la largeur à 85% */
    background: rgba(10, 10, 10, 0.5);                            /* défini la couleur de fond */
    opacity: 0;                                                     /* défini l'opacité à 0 */
    z-index: 20;                                                    /* défini la position dans les couches d'affichage */
    font-size : 18px;                                               /* défini la taille de la font */
    box-sizing: border-box;                                         /* défini la hauteur et la largeur de l'élement par rapport au bloc parent */
    pointer-events: none;                                           /* retire l'affichage cliquable du doigt sur l'élement */
    transition: opacity 0.5s ease-in-out;                           /* défini une transition avec opacité sur 0.5 sec */
  }
  .mobile-menu.open {                                               /* s'applique aux élements possédant la classe "mobile-menu.open" */
    display: block;                                                 /* affiche mes élements en bloc */
    opacity: 1;                                                     /* défini l'opacité à 1 */
    pointer-events: all;                                            /* affiche tous les indicateurs d'évenement de clique */
  }
  .burger-wrap {                                                    /* s'applique aux élements possédant la classe "burger-wrap" */
    position: absolute;                                             /* retire l'élement du flux normal et aucun e space n'est crée pour l'élement sur la page car il est positionné par rapport a son ancêtre le plus proche */ 
    z-index: 40;                                                    /* défini la position dans les couches d'affichage */
    transition: 300ms 700ms transform ease-in;                      /* défini l'animation de transition lorsqu'on clique */
  }
  .burger-wrap.reappearBurger {                                     /* s'applique aux élements possédant la classe "burger-wrap.reappearBurger" */
    opacity: 0;                                                     /* défini l'opacité à 0 */
    animation: 0.5s 2s fadeAppear ease-out forwards;                /* animation lors du clique */
  }
  @keyframes fadeAppear {                                           /* animation */
    0% {                                                            /* début de l'animation */
      opacity: 0;                                                   /* défini l'opacité à 0 */
    }
    100% {                                                          /* fin de l'animation */
      opacity: 1;                                                   /* défini l'opacité à 1 */
    }
  }
  .burger {                                                          /* s'applique aux élements possédant la classe "burger" */
    width: 30px;                                                     /* défini la largeur à 30 pixels */
    height: 27px;                                                    /* défini la hauteur à 27 pixels */
    cursor: pointer;                                                 /* change le curseur */
    z-index: 30;                                                     /* défini la position dans les couches d'affichage */
    transition: transform 1s ease-in;                                /* défini l'animation de transition lorsqu'on clique */
  }
  .burger span {                                                     /* s'applique aux élements de type span qui sont enfants d'un élement possédant la classe "burger" */
    display: block;                                                  /* affiche mes élements en bloc */ 
    position: absolute;                                              /* retire l'élement du flux normal et aucun e space n'est crée pour l'élement sur la page car il est positionné par rapport a son ancêtre le plus proche */ 
    height: 2px;                                                     /* défini la hauteur à 2 pixels */
    left: 0;                                                         /* positionne l'élement à 0 pixels sur la gauche */
    background: #FF5555;                                           /* défini la couleur de fond */
    border-radius: 9px;                                              /* défini une bordure arrondie */
    opacity: 1;                                                      /* défini l'opacité à 1 */
    transform: rotate(0deg);                                         /* ajoute un effet de rotation */
    transition: 0.25s ease-in-out;                                   /* défini la transition de la rotation */
  }
  .burger span:nth-child(1) {                                        /* s'applique au premier span de mon burger */
    top: 0px;                                                        /* place l'élement à 0 pixel du haut */
    width: 50%;                                                      /* défini la largeur à 50% */
  }
  .burger span:nth-child(2) {                                        /* s'applique au deuxième span de mon burger */
    top: 12px;                                                       /* place l'élement à 12 pixels du haut */
    width: 75%;                                                      /* défini la largeur à 75% */
  }
  .burger span:nth-child(3) {                                        /* s'applique au troisième span de mon burger */
    top: 24px;                                                       /* place l'élement à 24 pixels du haut */
    width: 100%;                                                     /* défini la largeur à 100% */
  }
  .burger.active span:nth-child(1) {                                 /* s'applique au premier span de mon burger lorsqu'il est cliqué */
    width: 100%;                                                     /* défini la largeur à 100% */
    top: 12px;                                                       /* place l'élement à 12 pixels du haut */
    transform: rotate(135deg);                                       /* défini la rotation */
  }
  .burger.active span:nth-child(2) {                                 /* s'applique au deuxième span de mon burger lorsqu'il est cliqué */
    opacity: 0;                                                      /* défini l'opacité à 0 */
  }
  .burger.active span:nth-child(3) {                                 /* s'applique au troisième span de mon burger lorsqu'il est cliqué */ 
    top: 12px;                                                       /* place l'élement à 12 pixels du haut */
    transform: rotate(-135deg);                                      /* défini la rotation */
  }
  li {                                                               /* s'applique aux li */
    margin-bottom: 15px;                                             /* défini un margin en bas de 15 pixels */
  }
  .container{                                                        /* s'applique aux élements possédant la classe "container" */
    max-width: 75%;                                                  /* défini la largeur maximum à 75% */
    margin-left: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    margin-right: auto;                                              /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    padding-top: 10px;                                               /* défini un padding en haut de 10 pixels */
  }
  #calories{                                                         /* s'applique à l'élement possédant l'id "calories" */
    width: 100%;                                                     /* défini la largeur à 100% */
    max-width: 790px;                                                /* défini la largeur maximum à 790 pixels */
    height: auto;                                                    /* défini la hauteur automatiquement */
    margin-left: auto;                                               /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    margin-right: auto;                                              /* margin-left et margin-right sont utilisés dans ce cas précis pour avoir mon élement centré avec la même distance entre les bords */
    padding-top: 0;                                                  /* défini le padding du haut à 0 */
    margin-top: 0;                                                   /* défini le margin du haut à 0 */
  }
  footer{                                                            /* s'applique au footer */
    max-width: 100%;                                                 /* défini la largeur maximum à 100% */
    font-size: 8px;                                                  /* défini la taille de la font */
    display: flex;                                                   /* affiche mes élements sous forme de boites flexibles */
    justify-content: space-evenly;                                   /* espace les élements équitablement */
  }
  h3{                                                                /* s'applique aux h3 */
    font-size: 8px;                                                  /* défini la taille de la font */
    padding-left: 0px;                                               /* défini le padding de gauche à 0 */
  }
  .CG{                                                               /* s'applique aux élements possédant la classe "CG" */
    padding-left: 0;                                                 /* défini le padding de gauche à 0 */
    line-height: 5%;                                                 /* défini la hauteur de ligne à 5% */
  }
  a{                                                                 /* s'applique aux ancres */
    font-size: 7px;                                                  /* défini la taille de la font */
    color: #FF5555;                                                /* défini la couleur de la font */
  }
  #Copyright{                                                        /* s'applique à l'élement possédant l'id "Copyright" */
    font-size: 8px;                                                  /* défini la taille de la font */
  }
  #Shakerfooter{                                                     /* s'applique à l'élement possédant la classe "Shakerfooter" */
    width: 75px;                                                     /* défini la largeur à 75 pixels */
  }
  .Lcontact{                                                         /* s'applique aux élements possédant la classe "Lcontact" */
    background-image: none;                                          /* retire l'image de fond */
  }
}