html{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: #FF5555;
  background-color:rgb(23,40,61);
}

body{
  background-color: white;
  color: #FF5555;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 0;
  height: 100%;
  font-family: 'Oxanium', 'Spartan', 'Oswald';
}

header{
  height: auto;
  width: 100%;
  padding-top: 1%;
  background-color:  rgb(23,40,61);
}

#logo{
  width: 200px;
  margin-bottom: 0;
  padding-left: 2%;
}
#Barnav{
  background-color: #FF5555;
}
#Nav{
  list-style-type: none;
  text-decoration: none;
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

li{
  list-style-type: none;
  text-decoration: none;
}
.MyBurger{
  visibility: hidden;
  display: none;
}  
.AllNav{
  text-decoration: none;
  color: rgb(23,40,61);
  font-family: 'Oxanium', 'Spartan', 'Oswald';
  font-size: 22px;
}

.AllNav:hover{
  background-color: rgb(23,40,61);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FF5555;
}

.container{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 10px; */
}

.mySlides{
  display: none;
}

.imgslide{
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}


/* Number text (1/6 etc) */
.numbertext {
  color: #FF5555;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  /* top: 0; */
}

/* The dots/bullets/indicators */
/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active {
  background-color: #FF5555;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.Global{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

#calories{
  width: 100%;
  max-width: 790px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Barrenoire{
  width: 100%;
  background-color: rgb(23,40,61);
  color: #FF5555;
  font-size: 56px;
  text-align: center;
  padding-top: 10px;
}

#TexteRyu{
  width: 50%;
  max-width: 790px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgp{
  height: 30%;
  width: 30%;
  min-width: 80px;
}

.footercat{
  /* background-color: rgb(23,40,61); */
  color: rgb(23,40,61);
  /* max-width: 85%; */
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: rgb(23,40,61);
  text-align: center;
  /* display: flex;
  justify-content: space-around; */
  padding: 0;
}
.FuckingCenter{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.CG{
  padding-left: 0;
}
h3{
  text-decoration: underline;
}
a:hover{
  color: #FF5555;
}
#Shakerfooter{
  width: 150px;
}
.AllFooter{
  text-decoration: none;
  color: white;
}

#Copyright{
  background-color: rgb(23,40,61);
  padding-top: 5%; 
  text-align: center; 
}

@media screen and (max-width: 700px) {
  #logo{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #Barnav{
    display: none;
    visibility: hidden;
  }
  #Nav{
    list-style-type: none;
    text-decoration: none;
    display:initial;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.AllNav{
  color: #FF5555;
  font-size: 16px;
}
a{
  font-size: 16px;
  color: #FF5555;
}
  .MyBurger {
    position: fixed;
    width: 375px;
    margin: auto;
    visibility: visible;
    z-index: 1;
    display: block;
  }
  
  .mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    background: rgba(10, 10, 10, 0.5);
    opacity: 0;
    z-index: 20;
    font-size : 18px;
    box-sizing: border-box;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  .mobile-menu.open {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
  
  .burger-wrap {
    position: absolute;
    z-index: 40;
    transition: 300ms 700ms transform ease-in;
  }
  .burger-wrap.reappearBurger {
    opacity: 0;
    animation: 0.5s 2s fadeAppear ease-out forwards;
  }
  
  @keyframes fadeAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .burger {
    width: 30px;
    height: 27px;
    cursor: pointer;
    z-index: 30;
    transition: transform 1s ease-in;
  }
  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    background: #FF5555;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .burger span:nth-child(1) {
    top: 0px;
    width: 50%;
  }
  .burger span:nth-child(2) {
    top: 12px;
    width: 75%;
  }
  .burger span:nth-child(3) {
    top: 24px;
    width: 100%;
  }
  .burger.active span:nth-child(1) {
    width: 100%;
    top: 12px;
    transform: rotate(135deg);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg);
  }
  li {
    margin-bottom: 15px;
  }
  .container{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  #calories{
    width: 100%;
    max-width: 790px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    margin-top: 0;
  }
  footer{
    max-width: 100%;
    font-size: 8px;
    display: flex;
    justify-content: space-evenly;
  }
  h3{
    font-size: 8px;
    padding-left: 0px;
  }
  .CG{
    padding-left: 0;
    line-height: 5%;
  }
  a{
    font-size: 7px;
    color: #FF5555;
  }
  #Copyright{
    font-size: 8px;
  }
  #Shakerfooter{
    width: 75px;
  }
}

#imgQSN{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#logoQSN{
  width: 100%;
  max-width: 195px;
}
#QSN{
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
}

#potsQSN{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 790px;
}
#Why, #EnergyPres{
  text-align: center;
}

.Lcontact
{
  height: 1500px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url(../images/backgro.png);
}

